<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app" class="main-page">
      <header id="main-header" class="main-header"></header>
      <main id="main-content">
        <section
          id="add-trip-section"
          class="flex flex-column flex-center py-xl"
        >
          <h3 class="heading--sub uppercase mt-lg">Add a new trip</h3>
          <form class="form" onsubmit="return Client.addTripHandler(event)">
            <label for="location">My trip to:</label>
            <input
              id="location"
              type="text"
              name="location"
              value=""
              placeholder="Enter location"
            />
            <label for="date">Departing:</label>
            <input
              id="date"
              type="date"
              name="date"
              value=""
              placeholder="Enter Date of travel"
            />
            <button
              class="button form__button bg-primary text-white"
              type="submit"
            >
              Submit
            </button>
          </form>
        </section>

        <section
          id="my-trip"
          class="my-trip-section py-xl px-md bg-gray-light flex"
        >
          <div class="my-trip-section__image">
            <figure>
              <img class="w-100" id="trip-location-image" alt="city image" />
              <figcaption>
                The image of trip destination. Images are from
                <a
                  href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp"
                  >Pixabay</a
                >
              </figcaption>
            </figure>
          </div>
          <section class="my-trip-section__details">
            <div>
              <h4 class="heading--sub">
                My trip to: <span id="trip-destination"></span>
              </h4>
              <h5 class="heading--sub">
                Departing: <span id="trip-departure"></span>
              </h5>
            </div>
            <div class="flex py-lg">
              <button
                onclick="return Client.saveTrip()"
                class="button bg-secondary mr-md"
              >
                save
              </button>
              <button
                onclick="return Client.removeTrip()"
                class="button bg-gray"
              >
                remove
              </button>
            </div>
            <div>
              <p id="trip-temp" class="py-sm"></p>
              <p id="trip-weather" class="py-sm"></p>
            </div>
          </section>
        </section>
      </main>
      <footer
        id="main-footer"
        class="flex flex-center py-xl bg-primary text-white"
      >
        <small> © 2021 Mugstech</small>
      </footer>
    </div>
  </body>
</html>
