<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app" class="main-page">
      <header id="main-header" class="main-header"></header>
      <main id="main-content">
        <section
          id="add-trip-section"
          class="flex flex-column flex-center py-xl"
        >
          <h3 class="heading--sub uppercase mt-lg">Add a new trip</h3>
          <form class="form" onsubmit="return Client.addEvent(event)">
            <label for="location">My trip to:</label>
            <input
              id="location"
              type="text"
              name="location"
              value=""
              placeholder="Enter location"
            />
            <label for="date">Departing:</label>
            <input
              id="date"
              type="date"
              name="date"
              value=""
              placeholder="Enter Date of travel"
            />
            <button
              class="button form__button bg-primary text-white"
              type="submit"
            >
              Submit
            </button>
          </form>
        </section>

        <!--
        <section id="my-trip" class="my-trip py-xl px-md bg-gray-light flex">
          <figure class="w-50">
            <img src="" alt="city image" />
            <figcaption>The image of trip destination</figcaption>
          </figure>
          <section class="w-50">
            <div>
              <h4>My trip to: <span id="trip-destination"></span></h4>
              <h5>Departing: <span id="trip-departure"></span></h5>
            </div>
            <div class="flex py-lg">
              <button class="button bg-secondary mr-md">save trip</button>
              <button class="button bg-gray">remove-trip</button>
            </div>
            <div>
              <p>distance is 200km from now</p>
              <p>weather</p>
            </div>
          </section>
        </section>
      --></main>
      <footer
        id="main-footer"
        class="flex flex-center py-xl bg-primary text-white"
      >
        <small> © 2021 Mugstech</small>
      </footer>
    </div>
  </body>
</html>
