.main-header {
  @include flex-col-center;

  &__headings {
    @include flex-col-center;
    text-transform: uppercase;

    .heading--main {
      animation: moveInLeft 1s ease-in;
    }

    .heading--sub {
      font-size: 1.45rem;
      letter-spacing: 0.15rem;
      padding-left: 0.9rem;
      color: #333;
      animation: moveInRight 1s ease-out;

      @media (min-width: 321px) {
        font-size: 1.75rem;
      }

      @media (min-width: 500px) {
        font-size: 2.3rem;
      }
      @media (min-width: 800px) {
        letter-spacing: 0.25rem;
        padding-left: 1.8rem;
        font-size: 3rem;
      }
    }
  }
}
